<div>
    {{(clickEventStatus$ | async)}}
    {{keyupEventStatus$| async}}
<button  *ngIf="(clickEventStatus$ | async)==false" (click)='startClickEvent()'>Start click event</button>
<button  *ngIf="(clickEventStatus$ | async)==true" (click)='stopClickEvent()'>Stop click event</button>
<button  *ngIf="(keyupEventStatus$ | async)==false" (click)="startKeyupEvent()">Start keyupb event</button>
<button  *ngIf="(keyupEventStatus$ | async)==true" (click)="stopKeyupEvent()">Stop keyupb event</button>
</div>
<div>
{{(eventData$ | async)?.type}}
</div>

